[submodule ".emacs.d/modes/expand-region"]
	path = .emacs.d/modes/expand-region
	url = git://github.com/magnars/expand-region.el.git
[submodule ".emacs.d/modes/js2-refactor"]
	path = .emacs.d/modes/js2-refactor
	url = git://github.com/magnars/js2-refactor.el.git
[submodule ".emacs.d/modes/jabber"]
	path = .emacs.d/modes/jabber
	url = git://emacs-jabber.git.sourceforge.net/gitroot/emacs-jabber/emacs-jabber
[submodule ".emacs.d/modes/python"]
	path = .emacs.d/modes/python
	url = git://github.com/fgallina/python.el.git
[submodule ".emacs.d/modes/haskell-mode"]
	path = .emacs.d/modes/haskell-mode
	url = git://github.com/haskell/haskell-mode.git
[submodule ".emacs.d/site-lisp/change-inner"]
	path = .emacs.d/site-lisp/change-inner
	url = git://github.com/magnars/change-inner.el.git
[submodule ".emacs.d/site-lisp/multiple-cursors"]
	path = .emacs.d/site-lisp/multiple-cursors
	url = git://github.com/magnars/multiple-cursors.el.git
[submodule ".emacs.d/modes/scala2"]
	path = .emacs.d/modes/scala2
	url = git://github.com/hvesalai/scala-mode2.git
